<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()" >

  <app-input-field class="col-sm-12" formControlName="nome" id="nome" label="Nome" placeholder="Nome" [control]="$any(formulario).controls.nome"></app-input-field>

  <!-- <div class="form-group">

    <div class="col-sm-12">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" class="form-control" formControlName="nome" id="nome" placeholder="Nome">

      <app-error-msg [control]="$any(formulario).controls.nome" label="Nome"></app-error-msg>
    </div>

  </div> -->
  <br>

  <app-input-field class="col-sm-12" formControlName="email" id="email" type="email" label="Email" placeholder="nome@email.com" [control]="$any(formulario).controls.email"></app-input-field>

  <!-- <div class="form-group">

    <div class="col-sm-12">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="email" id="email" placeholder="nome@email.com">
      <app-error-msg [control]="$any(formulario).controls.email" label="Email"></app-error-msg>
    </div>

  </div> -->
  <br>

  <app-input-field class="col-sm-12" formControlName="confirmarEmail" id="confirmarEmail" type="email" label="Confirmar Email" placeholder="nome@email.com" [control]="$any(formulario).controls.confirmarEmail"></app-input-field>

  <!-- <div class="form-group">

    <div class="col-sm-12">
      <label for="confirmarEmail" class="form-label">Confirmar Email</label>
      <input type="confirmarEmail" class="form-control" formControlName="confirmarEmail" id="confirmarEmail" placeholder="nome@email.com">
      <app-error-msg [control]="$any(formulario).controls.confirmarEmail" label="Confirmar Email"></app-error-msg>
    </div>

  </div> -->
  <br>

  <div formGroupName="endereco">
    <div class="form-group row">
      <app-input-field class="col-sm-3" formControlName="cep" id="cep" label="CEP" placeholder="" [control]="$any(formulario).get('endereco.cep')"></app-input-field>
      <app-input-field class="col-sm-3" formControlName="numero" id="numero" label="Número" placeholder="" [control]="$any(formulario).get('endereco.numero')"></app-input-field>
      <app-input-field class="col-sm-6" formControlName="complemento" id="complemento" label="Complemento" placeholder=""></app-input-field>
    </div>

  <br>

    <div class="form-group">
      <app-input-field class="col-sm-3" formControlName="rua" id="rua" label="Rua" placeholder="" [control]="$any(formulario).get('endereco.rua')"></app-input-field>
    </div>

  <br>

    <div class="form-group row">
      <div class="col-md-5">
        <label for="bairro" class="control-label">Bairro</label>
        <input type="text" class="form-control" formControlName="bairro" id="bairro">
      </div>

      <div class="col-md-4">
        <label for="cidade" class="control-label">Cidade</label>
        <select class="form-control" formControlName="cidade" id="cidade">
          <option *ngFor="let cidade of cidades" [value]="cidade.nome">{{ cidade.nome }}</option>
        </select>
      </div>

      <div class="col-md-3">
        <label for="estado" class="control-label">Estado</label>
        <select class="form-control" formControlName="estado" id="estado">
          <option *ngFor="let estado of estados" [value]="estado.sigla">{{ estado.nome }}</option>
        </select>
      </div>
    </div>
  </div>

   <!-- <div formGroupName="endereco">

   <div class="form-group row">

      <div class="col-sm-3">
        <label for="cep" class="control-label">CEP</label>
        <input type="text" class="form-control" formControlName="cep" id="cep">
      </div>
      <div class="col-sm-3">
        <label for="numero" class="control-label">Número</label>
        <input type="text" class="form-control" formControlName="numero" id="numero">
      </div>
      <div class="col-sm-6">
        <label for="complemento" class="control-label">Complemento</label>
        <input type="text" class="form-control" formControlName="complemento" id="complemento">
      </div>

    </div> -->

    <!-- <div class="form-group">

      <div class="col-sm-12">
        <label for="rua" class="form-label">Rua</label>
      </div>
      <div class="col-sm-12">
        <input type="text" class="form-control" formControlName="rua" id="rua">
      </div>

    </div> -->

    <!-- <div class="form-group row">

      <div class="col-md-5">
        <label for="bairro" class="control-label">Bairro</label>
        <input type="text" class="form-control" formControlName="bairro" id="bairro">
      </div>
      <div class="col-md-4">
        <label for="cidade" class="control-label">Cidade</label>
        <select class="form-control" formControlName="cidade" id="cidade">
          <option *ngFor="let cidade of cidades" [value]="cidade.nome">{{ cidade.nome }}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="estado" class="control-label">Estado</label>
        <select class="form-control" formControlName="estado" id="estado">
          <option *ngFor="let estado of estados" [value]="estado.sigla">{{ estado.nome }}</option>
        </select>
      </div>

    </div>

  </div> -->

  <br>

  <div class="form-group row">
    <div class="col-md-4">
      <label for="cargo" class="control-label">Cargo</label>
      <select class="form-control" formControlName="cargo" id="cargo" [compareWith]="compararCargos">
        <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
      </select>
    </div>

    <div class="col-md-4">
      <label for="tecnologias" class="control-label">Tecnologias</label>
      <select multiple class="form-control" formControlName="tecnologias" id="tecnologias">
        <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">{{ tecnologia.desc }}</option>
      </select>
    </div>

    <div class="col-md-4">
      <label for="newsletter" class="control-label">NewsLetter</label>
      <div id="newsletter" class="row">
        <div class="col-sm-2" *ngFor="let item of newsletterOp">
          <label class="radio-inline">
            <input type="radio" [value]="item.valor" formControlName="newsletter"> {{ item.desc }}
          </label>
        </div>
      </div>
    </div>

  </div>

  <br>

  <div class="form-group row">

    <div class="col-md-3">
      <div class="checkbox">
        <label class="checkbox-inline">
          <input type="checkbox" formControlName="termos"> Aceito os termos
        </label>
      </div>
    </div>

    <div class="col-md-3">
      <label for="frameworks">Frameworks</label>
      <div id="frameworks" class="row">
        <div class="checkbox" class="col-sm-4" formArrayName="frameworks" *ngFor="let item of getFrameworksControls(); let i = index">
          <label class="checkbox-inline">
            <input type="checkbox" [formControlName]="i"> {{ frameworks[i] }}
          </label>
        </div>
      </div>
    </div>

  </div>

  <br>

  <button type="submit" class="btn btn-primary">Submit</button>
  <button class="btn" (click)="resetar()">Cancelar</button>
  <button class="btn" (click)="setarCargo()">Cargo</button>
  <button class="btn" (click)="setarTecnologias()">Tecnologias</button>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>

